 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 900px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 90px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

li {
  list-style-type: none;
}

#title, #content, #author, #tags {
  padding: 16px 16px 16px 16px;
  border: none;
  z-index: 2;
  margin: 0;
  margin-top: 10px;
  width: 100%;
  font-size: 24px;
  box-shadow: inset 0 0 20px #000000;
}

#content {
  height: 300px;
}

button {
  float: right;
  margin-top: 10px;
}

a.post_title {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.fullpost-unit {
  margin: 50px auto 0 auto;
  width: 900px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}
