 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  // background-image: url('images/congruent_pentagon.png');
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #70A288;
}

.hero-unit {
  margin: 50px auto 50px auto;
  width: 900px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #2E3236;
  border-radius: 6px;
  padding: 60px;
  padding-top: 30px;
  // h1 {
  //   font-size: 60px;
  //   line-height: 1;
  //   letter-spacing: -1px;
  //   display: inline;
  // }
  #lamp {
    margin: 0px auto;
    padding-bottom: 15px;
      >img {
      display:block;
      margin:auto;
      // fill: #2E3136;
      background: #F0122B;
      border-radius: 2em;
      max-width: 60px;
      height: auto;
      padding: 5px;
    }
  }
}

ul{
  margin-top: 90px;
  li {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #6FB087;   
    list-style-type: none;
    > p {
      margin-top: 10px;
      margin-bottom: 0px;
    }
  }
}

#title, #content, #author, #tags {
  padding: 16px 16px 16px 16px;
  border: none;
  z-index: 2;
  margin: 0;
  margin-top: 10px;
  width: 100%;
  font-size: 24px;
  box-shadow: inset 0 0 20px #000000;
}

#content {
  height: 200px;
}

#submitBtn {
  float: right;
  margin-top: 10px;
  color: #F0122B;
  line-height: 30px;
  padding: 7px 14px;
  border: 1px solid #F0122B;
  background-color: #2E3236;
  // border-radius: 2em;
  transition: all 0.3s ease;
  &:hover {
    background: #F0122B;
    color: #2E3236;
  }  
}

a.post_title {
  margin-top: 60px;
  color: #6FB087;
  font-size: 50px;
  font-weight: 200px;
  line-height: 1;
  letter-spacing: 0px;
  text-decoration: none;
  &:hover {
    color: #F0122B;
  } 
}

a {
  color: #F0122B;
}

.delete {
  display:inline-block;
  float: right;
  border: 1px solid #F0122B;
  border-radius: 100px;
  background-color: #2E3236;
  transition: all 0.3s ease;
  width: 30px;
  height: 30px;
  &:hover {
    background: #F0122B;
    // color: #2E3236;
  }
  .octicon-x {
    text-align: center;
    color: #F0122B;
    font-size: 24px;
    padding-top: 3px;
    padding-left: 6.5px;
    &:hover {
      color: #2E3236;
    }
  }
}

p, small {
  color: #A9A9A9;
  margin-right: 10px;
}

//FULL POST VIEW STYLES...................................

.lamp_solo {
  margin: 0px auto;
  padding-bottom: 15px;
  padding-top: 50px;
    >img {
    display:block;
    margin:auto;
    background: #A9A9A9;
    border-radius: 2em;
    max-width: 60px;
    height: auto;
    padding: 5px;
    opacity: 0.2; 
  }
}

.full_post {
  margin: 50px auto 50px auto;
  width: 900px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 0px 60px 60px 60px;
  ul {
    margin-top: 10px;
    padding: 0px;
    h2 {
    color: #2E3236;
    font-size: 60px;
    text-align: center;
    line-height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    }
    .boiler {
      margin-top: 90px;
      margin-bottom: 0px;
      padding-left: 170px;
      background: #2E3236;
      p.full {
        color: #A9A9A9;
        font-size: 24px;
        text-align: center;
      }
      small.full {
        color: #A9A9A9;
        font-size: 12px;
        a.full {
          font-size: 12px;
        }
      }
    }
  }
}









